<!DOCTYPE html>
{% load static %}
<html>
<head>

  <title> Fathur | About </title>
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css:style.css' %}">
</head>
<body style="background-color: #DEE0E3">
    
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4a4a48">
  <a class="navbar-brand" href="{% url 'story4:home'%}">
  <img src="{% static 'images/logo.jpg' %}" alt="Logo" style="width:40px; height:40px;"></a>
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navb" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story4:profile'%}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story4:about'%}">About</a>
      </li>
      <a class="nav-link" href="https://drive.google.com/open?id=1VyJE_jKOuUTUZSTksB8AWB4tL2wNsbk3">CV</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-3" style="margin: 0 7% 0 7%">
<h1>About</h1>
<div style="background-color:#827F7F; color: white;margin:5% 7% 5% 7%; padding:2% 4% 2% 4% ">
    <div class="row">
    <p style="padding-top:15px;font-size: 20px;">Nama saya Fathur Rahman Prawira, mahasiswa 
Fakultas Ilmu Komputer Universitas Indonesia.
Saya lahir di Padang pada tanggal 13 November 2000, 
lalu dibesarkan di Surabaya dan Jakarta. Saya anak
kedua dari dua bersaudara. Jarak antara saya
dengan kakak saya sekitar 5 tahun. Tujuan saya
melanjutkan pendidikan saya ke Fasilkom agar saya
dapat mengenal IT lebih dalam.</p>

    </div>
</div>
</div>

<div style="background-color:#827F7F; color: white;margin:40% 10% 9% 10%; padding:2% 4% 2% 4% ">
     <h1 style="font-size: 25px;font-style: italic;">Contact</h1>
    <div class="row">
    <p>Alamat Rumah: Regensi Melati Mas 2 Blok C7/2 Jelupang, Serpong Utara, Tangerang Selatan 15323
    <br>Alamat Kos: Griya Zayda, Jalan Haji Amat 1 No. 17A, 
    Kukusan, Beji, Depok<br>Phone: +6282237000699 <br>E-mail: fathurrahmanprawira86@gmail.com </p>
  




</body>
</html>